.ProductItem {
  height: 350px;
  width: 260px;
  border: 1px solid green;
  padding-bottom: 20px;
  position: relative;
  .discount {
    position: absolute;
    padding: 10px 7px;
    background: red;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    top: 13px;
    right: 25px;
  }
  .img {
    width: 260px;
    height: 250px;
    padding: 5px;
  }
  .name {
    text-align: center;
    font-weight: 700;
  }
  .prices {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
    .oldPrice {
      background: #e8e2e2;
      padding: 5px 20px;
      border-radius: 16px;
      text-decoration: line-through;
      text-decoration-color: red;
    }
    .newPrice {
      padding: 3px 20px;
      border: 2px solid grey;
      border-radius: 16px;
      font-weight: 600;
      color: green;
    }

    .qttInCart {
      position: absolute;
      bottom: 41px;
      right: 3px;
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 14px;
      color: var(--accent-color);
    }
    .toBasket {
      position: absolute;
      right: 10px;
      bottom: 28px;
      width: 30px;
      height: 23px;
    }
  }
}
