.tagline {
  margin: 50px 0;
  padding: 0 340px;

  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.benefits {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 90px;
}

.benefit {
  width: 300px;
  height: 160px;
  border: 2px solid green;
  padding: 15px;
  border-radius: 15px;
}

@media (max-width: 1100px) {
  .benefits {
    grid-template-columns: auto;
    padding: 0 20px;
  }

  .tagline {
    padding: 0 40px;
  }

  .benefit {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .tagline {
    text-align: left;
    padding: 0 20px;
  }
}
